@model BasketballLeagueApp.Models.jugadores

@{
    ViewData["Title"] = "Eliminar Jugador";
    Layout = "~/Views/Shared/_LayoutAdmins.cshtml";

}

<div class="bg-secondary" style="--bs-bg-opacity: .1; height: 89vh">
    <div class="container mt-4 bg-white rounded-3">
        <br />
        <h1 class="text-center text-danger">Eliminar Jugador</h1>
        <br />

        <div class="row">
            <!-- Información del jugador con su imagen -->
            <div class="col-md-4 text-center">
                <h4 class="text-secondary">@Model.nombre @Model.apellido</h4>

                <div class="form-group">
                    <img src="@Model.img"
                         width="250" height="250"
                         alt="Imagen de @Model.nombre"/>
                </div>
            </div>

            <!-- Datos del jugador -->
            <div class="col-md-4">
                <div class="card shadow-sm p-3 border-danger">
                    <h4 class="text-center text-danger">¿Estás seguro de eliminar este jugador?</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.nombre)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.nombre)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.apellido)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.apellido)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.fecha_nacimiento)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.fecha_nacimiento)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.nacionalidad)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.nacionalidad)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.dorsal)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.dorsal)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            @Html.DisplayNameFor(model => model.posicion)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.posicion)
                        </dd>

                        <dt class="col-sm-4 fw-bold">
                            Estado
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.estado)
                        </dd>
                    </dl>
                </div>
            </div>

            <!-- Información del equipo -->
            <div class="col-md-4 text-center">
                <h4 class="text-secondary">@Model.equipo.nombre</h4>

                <div class="form-group">
                    <img src="@Model.equipo.img"
                         width="250" height="250"
                         alt="Logo de @Model.equipo.nombre"/>
                </div>
            </div>
        </div>

        <br />
        <!-- Botones de acción -->
        <div class="form-group text-center">
            <form asp-action="Delete">
                <input type="hidden" asp-for="id" />
                <button type="submit" class="btn btn-danger px-4">
                    <i class="bi bi-trash"></i> Confirmar Eliminación
                </button>
                <a asp-action="Index" class="btn btn-secondary px-4">
                    <i class="bi bi-arrow-left"></i> Cancelar
                </a>
            </form>
        </div>
        <br />
    </div>
</div>
